<a href="https://colab.research.google.com/github/HwangHanJae/ml-definitive-guide-pratice/blob/main/numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#라이브러리 로드
import numpy as np

In [2]:
#shape 변수로 ndarray의 크기 확인
array1 = np.array([1,2,3])
print("array1 type: ", type(array1))
print("array1 type 형태: ", array1.shape)

array2 = np.array([[1,2,3,],
                   [2,3,4]])

print("array2 type: ", type(array2))
print("array2 type 형태: ", array2.shape)


array3 = np.array([[1,2,3]])

print("array3 type: ", type(array3))
print("array3 type 형태: ", array3.shape)

array1 type:  <class 'numpy.ndarray'>
array1 type 형태:  (3,)
array2 type:  <class 'numpy.ndarray'>
array2 type 형태:  (2, 3)
array3 type:  <class 'numpy.ndarray'>
array3 type 형태:  (1, 3)

In [3]:
#각 차원을 ndarray.ndim을 이용해 확인
print("array1 : {:0}차원, array2 : {:1}차원, array3 : {:2}차원".format(array1.ndim, array2.ndim, array3.ndim))

array1 : 1차원, array2 : 2차원, array3 :  2차원

In [4]:
#dtype 속성으로 확인

list1 = [1,2,3]
print(type(list1))
array1 = np.array(list1)
print(type(array1))
print(array1, array1.dtype)

<class 'list'>
<class 'numpy.ndarray'>
[1 2 3] int64

In [5]:
#int, string 리스트, int float 리스트 ndarray로 변경후 데이터 타입 확인
list2 = [1,2,"test"]
array2 = np.array(list2)
print(array2, array2.dtype)

list3 = [1,2,3.0]
array3 = np.array(list3)
print(array3, array3.dtype)

['1' '2' 'test'] <U21
[1. 2. 3.] float64

In [6]:
#int32 type -> float64 type , float64 type -> int32 type

array_int = np.array([1,2,3])
array_float = array_int.astype("float64")
print(array_float, array_float.dtype)


array_int1 = array_float.astype("int32")
print(array_int1, array_int1.dtype)

array_float1 = np.array([1.1,2.1,3.1])
array_int2 = array_float1.astype("int32")
print(array_int2, array_int2.dtype)

[1. 2. 3.] float64
[1 2 3] int32
[1 2 3] int32

In [7]:
#arange() 함수 사용 0부터 순차적으로 ndarray 생성
#start, stop 인자값이 존재
sequence_array = np.arange(10)
print(sequence_array)
print(sequence_array.dtype, sequence_array.shape)

[0 1 2 3 4 5 6 7 8 9]
int64 (10,)

In [8]:
#zeros(), ones() 함수 사용 
#default float64
zero_array = np.zeros((3,2), dtype="int32")
print(zero_array)
print(zero_array.dtype, zero_array.shape)

one_array = np.ones((3,2))
print(one_array)
print(one_array.dtype, one_array.shape)

[[0 0]
 [0 0]
 [0 0]]
int32 (3, 2)
[[1. 1.]
 [1. 1.]
 [1. 1.]]
float64 (3, 2)

In [10]:
#reshape() : ndarray의 차원의 크기를 변경

#0~9까지의 1차원 ndarray를 2x5, 5x2로 변경

array1 =  np.arange(10)
print("array1\n", array1)

array2 = array1.reshape(2,5)
print("array2\n", array2)

array3 = array1.reshape(5,2)
print("array3\n", array3)

array1
 [0 1 2 3 4 5 6 7 8 9]
array2
 [[0 1 2 3 4]
 [5 6 7 8 9]]
array3
 [[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

In [11]:
#가장 보편적으로 사용하는 reshape() 인자값에 -1넣기
array1= np.arange(10)
print(array1)

array2 = array1.reshape(-1, 5)
print("array2 shape : ", array2.shape)
print(array2)
array3 = array1.reshape(5,-1)
print("array3 shape : ", array3.shape)
print(array3)

[0 1 2 3 4 5 6 7 8 9]
array2 shape :  (2, 5)
[[0 1 2 3 4]
 [5 6 7 8 9]]
array3 shape :  (5, 2)
[[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]